@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('./navbar.css');
@import url('./fonts.css');
@import url('./scrollbar.css');
@import url('./slider.css');
@import url('./button.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --primary-color: #1a1a1c;
  --back-shadow: #3a3e6f;
  --front-edge: #24263e;
  --color-primary: #5F4DFF;
  --yellow: #ffd45c;
  --page-color:#1B1B1B;
}

[data-theme="dark"] {
  --primary-color: rgb(249 250 251);
  --back-shadow: #3a3e6f;
  --front-edge: #24263e;
  --color-primary: #5F4DFF;
  --yellow: #ffd45c;
  --page-color: #1a1a1c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Kanit', sans-serif !important;
  background-color: var(--page-color);
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  cursor: default;
  color: var(--primary-color) !important;
}

li {
  list-style: none;
}

/* Grid List */

.grid-list {
  display: grid;
  list-style-type: none;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .grid-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Loader */

.loadersvg {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

.gradient-text {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #164bf9;
  --tw-gradient-to: rgba(22, 249, 192, 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #eab308;
  background-clip: text;
  color: #0000;
  -webkit-background-clip: text;
}

/* Offer Card CSS */

.card {
  max-width: 320px;
  border-radius: 1rem;
  background-color: rgb(8, 8, 8);
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}



.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}

/* Gradient Blob */

/* Gradient */
:root {
  --bg: #F0DBA5;
  --text: #151515;
  --yellow: #1596f9a4;
  --green: #0ffbe7a5;
  --red: rgb(79, 205, 255);
}

/* Blobs */
.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 500px;
  width: 300px;
  position: relative;
  /* right: 5em; */
}


.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.yellow {
  background-color: var(--yellow);
  position: absolute;
  top: 200px;
  left: 100px;
  height: 200px;
  width: 200px;

  animation: yellow 8s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 200px;
  width: 250px;

  animation: green 8s infinite ease;
}

.red {
  background-color: var(--red);
  position: absolute;
  right: 0;
  top: 300px;
  height: 250px;
  width: 200px;

  animation: red 8s infinite linear;
}

@keyframes yellow {
  0% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }

  30% {
    top: 300px;
    left: 150px;
    transform: scale(1.2);
  }

  60% {
    top: 100px;
    left: 200px;
    transform: scale(1.3);
  }

  100% {
    top: 200px;
    left: 100px;
    transform: scale(1);
  }
}

@keyframes green {
  0% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }

  30% {
    top: 300px;
    right: -20px;
    transform: scale(1);
  }

  60% {
    top: 200px;
    right: 100px;
    transform: scale(1);
  }

  100% {
    top: 80px;
    right: -20px;
    transform: scale(1.2);
  }
}

@keyframes red {
  0% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }

  30% {
    top: 150px;
    right: 150px;
    transform: scale(1.4);
  }

  60% {
    top: 250px;
    right: 100px;
    transform: scale(1);
  }

  100% {
    top: 250px;
    right: 0px;
    transform: scale(1);
  }
}

/* Hide Scroll bar */
.hide-scrollbar{
  scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
}